#container {
   border: 1px solid black;
   /* 가운데 정렬할때 width가 필요함 */
   width: 600px;
   margin: 0 auto;
}
table {
   border: 1px solid gray;
   border-collapse: collapse;
}

th,
td {
   border: 1px solid gray;
   padding: 10px 20px;
}
