/* 초기화 코드 */
body {
   margin: 0 auto;
   padding: 0;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

/* 레이아웃 코드(fixed layout) */

.wrap {
   /* 1200px보다 작아지지 않음 -> 사이트의 레이아웃이 틀어지지 않게 하기 위해 */
   min-width: 1200px;
   overflow: hidden;
}

header {
   height: 280px;
   background-color: aqua;
   position: relative; /* 반드시 줘야한다(fixed layout을 위한 공식) */
}

.header__menu {
   height: 80px;
}

.header__search {
   height: 200px;
}

main {
   width: 1200px;
   margin: 0 auto;
   overflow: hidden;
}

.left {
   width: 900px;
   background-color: rgb(32, 96, 96);
   height: 2000px;
   float: left;
}

.left__banner {
   height: 150px;
}

.left__news {
   height: 450px;
}

.left__themecast {
   height: 2000px;
}

.aside {
   width: 300px;
   height: 2600px;
   background-color: blueviolet;
   float: right;
}

.aside__login {
}

.aside__ footer {
   height: 500px;
   background-color: plum;
   clear: both;
}
